<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Monitoreo</title>
</head>
<body>
    <button><a href="/">Volver</a></button>
    <button class="btn btn-info">Generar datos</button>

   <canvas id="material" width="400" height="400"></canvas></canvas >

</body>
<script type="text/javascript" src="../static/1.js"></script>
</html>